.header {
    background-color: #4ed401;
    text-align: center;
    padding: 10px;
    color: white;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

.content {
    display: none;
}

ul {
    list-style-type: none;
}

select {
    padding: 5px;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

table, th, td {
    border: 1px solid #000;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

.search-container {
    text-align: center;
    margin-top: 20px;
}

#searchInput,
#searchInput2 {
    padding: 10px;
    font-size: 16px;
}

#searchBtn {
    padding: 10px 20px;
    background-color: #4ed401;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#searchBtn:hover {
    background-color: #3aa200;
}

#paymentForm {
    text-align: center;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4ed401;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #3aa200;
}

#paymentForm {
    text-align: center;
    margin: 0 auto;
    max-width: 30%;
    padding: 2%;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 1.5%;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 1%;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 1%;
    font-size: 1rem;
}

button[type="submit"] {
    padding: 1.5% 3%;
    background-color: #4ed401;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    display: block;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: #3aa200;
}
